<h1>What's New</h1>
<ul class="thumbnails">
  <li class="span4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="">
      <h3>Youth Lagoon</h3>
      <p>The Year of Hibernation</p>
    </div>
  </li>
  <li class="span4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="">
      <h3>The National</h3>
      <p>High Velvet</p>
    </div>
  </li>
  <li class="span4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="">
      <h3>The Mowgli's</h3>
      <p>Love's Not Dead</p>
    </div>
  </li>
  <li class="span4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="">
      <h3>Atlas Genius</h3>
      <p>Through the Glass</p>
    </div>
  </li>
   <li class="span4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="">
      <h3>Milo Green</h3>
      <p>Milo Green</p>
    </div>
  </li>
   <li class="span4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="">
      <h3>Mumford and Sons</h3>
      <p>Babel</p>
    </div>
  </li>
  
</ul>