<div class="content-header"><%=image_tag("home.png", alt: "Home Image")%>What's New</div>

<ul class="thumbnails">
  <% @media.each do |medium| %>
    <li class="span4">
      <div class="thumbnail">
      	<%= image_tag medium.image_url.to_s, "data-src" => "holder.js/300x200" %>  
        <h3><%= medium.artist %></h3>
        <p><%= medium.album %></p>
      </div>
    </li>
  <% end %>
</ul>



