<h1>What's New</h1>

<% @media.each do |medium| %>
  <ul class="thumbnails">
    <li class="span4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="">
      <h3><%= medium.artist %></h3>
      <p><%= medium.album %></p></li>
  </ul>
<% end %>



