<div class="content-header"><%=image_tag("albums.png", alt: "Albums Image")%>Albums</div>

<% @media.each do |medium| %>
	<div class="media">
	  <a class="pull-left" href="#">
	    <img class="media-object" data-src="holder.js/64x64">
	  </a>
	  <div class="media-body">
	    <h4 class="media-heading"><%= medium.album %> by <%= link_to medium.artist, medium %></h4>
	    <!-- Nested media object -->
	    <div class="media">
	     <%= medium.album_description %>
	    </div>
	  </div>
	</div>
<% end %>